<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hey!</a></h1>
        </div>
        
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to my Blog! I am Rasleen and this is my first Django project.
            
            Github:     https://github.com/rasleen298
            LinkedIn:  https://www.linkedin.com/in/rasleen298/
            hellooooooooooo</p>
        </div>
        
       
        
    </body>
</html>
